# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.bin

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# compiled binary of server command
examples/emmon/emmon

# vscode config folder
.vscode/

/vendor
examples/emmon/emmon_pi
